*__pycache__*
.vscode
.idea/
src/mysql_credentials.py
locations.csv
Building_occupancy.csv
Cases_Infections.csv
total_interaction_time.json
Contact_Matrix.npz
identity_table.csv
total_infections_comparison.csv
results/
Hotspots.py
People_locations.py
hourly_building_plot.py
Plot_TAC_DNI.py
plot.py
SIR.py
tune.ipynb
tune_iiith.ipynb
tune_iitj.ipynb
tune_SIR.ipynb
nx.html
anim.py